/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

}


#editarPerfil {
    background: #2a2b38;
    border-radius: 0.99rem;
    margin-top: 100px;
    margin-bottom: 200px;

}

 


/* .container {
    /* width: 90%;
    min-height: 1280px;
    margin: auto; */



li {
    list-style: none;
}

a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

    /* imagen de fondo de home */

/* #imagenHome {
    /* height: calc(100vh );     */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* width: 100%;
    height: 100%; */
    

#navbarMenu1 {
    /* height: calc(100vh );     */
    /* background-image: url('https://img.freepik.com/foto-gratis/pesos-ejercicio-pesas-fuerte-atletica_1139-709.jpg?w=2000'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


/* @media (max-width: 952px){
    #navbarMenu1{
        padding-left: 20px;
    }
} */





#navMenu {
    background-color: black;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid ul {
    display: flex;
}

.container-fluidul li {
    margin: 0 20px;
}

.container-fluid ul li a {
    color: #fff;
}

.titular {
    text-align: center;
    margin-top: 40vh;
    color: #fff;
}

h1 {
    font-size: 80px;
    font-style: italic;
    width: 80%;
    margin: auto;
    /* margin-bottom: 50px; */
}

/* .titular a {
    background: #000;
    color: #dd9933;
    padding: 20px 40px;
} */

     /* Formulario de contacto */


h2 {
  text-align: center;
  color: #eeeeee
}

#botonForm {
  background-color: #dd9933;
  text-align: center;
}

.mainContainer {
    /* url imagen: https://ossfitness.com/fotos/2021/07/strong-man-training-in-gym-1024x683.jpg */
   background-size: cover;
   background-position-x: center;
   background-position-y: center;
   }

   /* logo del navbar */
#logo {
    width: 80px;
    height: 50px;
}


/* #caruselImg {
    width: 100%;
    height: 100%;
} */

.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 0rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }




 /* MAPA */



 

 .map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    right: 0;

    height:100%;

    width:100%;

    position:absolute;

}
 