* {
    margin: 0;
    padding: 0;
}

#navbarUser {
    padding: 1rem 2rem;
    border-bottom: 2px solid grey;
}

#sidebar {
    width: 14rem;
    height: calc(100vh - 52px);
    border-radius: 2px solid grey;
}
ul {
    list-style: none;
    padding: 1rem 2rem;
}

li {
    margin-bottom: 1rem;
}
a {
    text-decoration: none;


}